@import "settings";
//@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
@import "foundation/components/keystrokes";
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
@import "foundation/components/tables";
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
@import "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

div.content{
	margin:0 20px 20px 20px;
}
h1,h2,h3,h4{
	margin-bottom:2px;
}
kbd{
	padding: 1px 3px;
}
div.element{
	margin:7px;
}
td{
	padding:1px 3px;
}
.info{
	display:none;
}
tr.example-text{
	font-size:0.9em;
	font-style:italic;
}
